.header{
  background-color: #20B2AA;
  height: 200px;
}



.main{
  background-color: #48D1CC;
  height: 800px;
}



.footer{
  background-color: #E0FFFF;
  height:200px;
}

h1{
  /* Gantikan warna ke #8B0000 */
  color: #8B0000;
}

p {
  /* Gantikan warna ke #008B8B */
  color: #008B8B;
}

li {
  color:#444;
  float:left;
  padding: 33px 20px;
}
li.selected{
  color:#ff0000;
}

