.header{
  background-color: #20B2AA;
  float:left;
  padding: 33px 20px;
  li {
  color:#444;
}
li.selected{
  color:#ff0000;
}

}
.main{
  background-color: #48D1CC;
}
.footer{
  background-color: #E0FFFF;
}

h1{
  /* Gantikan warna ke #8B0000 */
  color: #8B0000;
}

p {
  /* Gantikan warna ke #008B8B */
  color: #008B8B;
}

h1{
  color: #e6855e;
  font-size: 30px;
  background-color:#6495ED;
  height:35px;
  width:420px;
}

