h1{
  /* Gantikan warna ke #8B0000 */
  color: #8B0000;
}

p {
  /* Gantikan warna ke #008B8B */
  color: #008B8B;
}

h1{
  color: #e6855e;
  font-size: 30px;
  background-color:#6495ED;
  height:80px;
  width:200px;

}

img {
  height:50px;
  width:70px;

}

li {
  color:#444;
}


.selected{
  color:#ff0000;
}
